.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  .project-card {
    background-color: #1a1a1a;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: white;
  }
  
  .project-card figure {
    margin: 0;
    position: relative;
  }
  
  .project-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
  }
  
  .project-card figcaption {
    padding: 1rem;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover img {
    transform: scale(1.05);
  }
  
  .project-card:hover figcaption {
    opacity: 1;
  }
  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .card-link:hover {
    cursor: pointer;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; 
  }
  .photo-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.photo-grid img {
  flex: 1 1 300px;
  max-width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.photo-grid img:hover {
  transform: scale(1.05);
}

/* Lightbox Styles */
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox.active {
  display: flex;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 8px;
  background-color: black;
  border: 2px solid white;
  border-radius: 12px;
}

  
.cat-fact-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 50%;
}

.cat-fact-container img {
  max-width: 180px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.cat-fact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(30,30,30,0.8);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  color: #fff;
  min-width: 180px;
  max-width: 300px;
  font-size: 1.1rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.cat-fact-content button {
  margin-bottom: 0.5rem;
  background: #4AA0DE;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition:  0.2s;
}
.undertext{
  text-align: center;
}
.cat-fact-content button:hover {
  background: #2e7bb4;
}

#fact {
  margin-top: 0.5rem;
  word-break: break-word;
}
@media (max-width: 600px) {
  .cat-fact-container {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .cat-fact-content {
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}
 
  