
nav{
    background-color:  rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30%);
    height: 50px;
    width: 100%;

}
nav ul {
float: right;
margin-right: 40px;


}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;

}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

nav ul li a:hover {
    color: #000000;
}
a.active {
    background-color:  #ff00d999;
    
    color: #ffffff;
    border-radius: 30%;
}
